        * {
            margin: 0%;
            padding: 0%;
            font: 700;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .header {
            background-color: #FFCD9E;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 160%;
            flex-wrap: nowrap;
            gap: 200px;
        }
        
        h2 {
            align-content: center;
        }
        
        .c1 {
            display: flexbox;
        }
        
        .form1 {
            background-color: #FFCD9E;
            display: flex;
            justify-content: flex-start;
            line-height: 160%;
        }
        
        .c2 {
            display: flexbox;
        }
        
        input {
            margin-top: 30px;
            border-color: black;
            font-size: 20px;
            box-sizing: border-box;
            height: 50px;
            justify-content: center;
            padding-left: 20px;
            border-radius: 10px;
        }
        
        button {
            background-color: rgb(41, 38, 38);
            color: white;
            font-size: 20px;
            height: 50px;
            width: 170px;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }
        
        #p1 {
            font-size: 16px;
            color: white;
            text-align: justify;
            padding-top: 20px;
        }
        
        h2 {
            line-height: 40px;
        }
        
        .p2 {
            padding-top: 20px;
        }
        
        .p3 {
            padding-top: 20px;
        }
        
        .footerr {
            background-color: black;
            color: white;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
        
        .f1 {
            display: flexbox;
            line-height: 160%;
        }
        
        .f2 {
            display: flexbox;
            text-align: end;
        }
        
        #f3 {
            padding-top: 30px;
        }